<h2>管理者予約詳細</h2>
<h3><%= @customer.name %>さんの予約詳細</h3>

<table class = "table">
    <tbody>
        <div>
            <tr>
                <td>会員ID</td>
                <td><%= @customer.id %></td>
            </tr>

        </div>

        <div>
            <tr>
                <td>氏名</td>
                <td><%= @customer.name %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>住所</td>
                <td><%= @customer.address %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>電話番号</td>
                <td><%= @customer.telephone_number %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>メールアドレス</td>
                <td><%= @customer.email %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>アポイント日時</td>
                <td><%= @reservation.start_time %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>タイトル</td>
                <td><%= @reservation.title %></td>
            </tr>
        </div>

        <div>
            <tr>
                <td>要望</td>
                <td></td>
            </tr>
        </div>
    </tbody>
</table>

<%= link_to "削除", admins_reservation_path(@reservation.id), method: :delete, class: 'btn btn-primary' %>

<%= link_to "問い合わせ", admins_reservation_contacts_path(@reservation.id), class: 'btn btn-primary' %>

<%= link_to "一覧へ", admins_reservations_path, class: 'btn btn-primary' %>