<h3>問い合わせ内容</h3>
<div>
  <p><%= @contact.question %></p>
</div>


<h3>問い合わせに対するお答え</h3>



<%= form_with model:@contact,url:admins_reservation_contact_path(params[:reservation_id]), local:true do |f| %>

<%= f.text_area :answer, size:"65x20" %>
<%= f.submit "送信する", class: 'btn btn-primary' %>
<% end %>


<%= link_to "問い合わせ一覧", admins_reservation_contacts_path(params[:reservation_id]), class: 'btn btn-primary' %>