<h2>予約一覧</h2>
<div class="float-right">
<%= form_with model:@reservation, url:reservations_path, method: :get, local: true do |f|%>
<%= f.label :sort, 'ソート' %>
<%= f.select :sort, [['受付日', 'created_at'],['予約日','start_time']],{include_blank:true,selected: 1} %>
<%= f.submit '並び替える' %>
<% end %>
</div>
<table class = "table">
    <thead>
        <tr>
            <th>予約日</th>
            <th>タイトル</th>
            <th>担当者</th>
            <th>受付日</th>
        </tr>
    </thead>

    <tbody>
        <% @reservations.each do |reservation| %>
        <tr>
            <td><%= reservation.start_time.strftime('%Y/%m/%d %H時%M分') %>~<%= reservation.end_time.strftime('%H時%M分') %></td>
            <td><%= link_to reservation.title, reservation_path(reservation.id) %></td>
            <td><%= reservation.staff %></td>
            <td><%= reservation.created_at.strftime('%Y/%m/%d %H時%M分') %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "新規予約", new_reservation_path, class: 'btn btn-success' %>