<h2>予約入力</h2>
<%= render 'layouts/error', reservation: @reservation %>

<%= week_calendar events: @reservations do |date, reservations| %>
  <% reservations.each do |reservation| %>

  <div class="text-center">
    <% if reservation.start_time.strftime("%H:%M") == @time.strftime("%H:%M")  %>
      <%= link_to reservation.start_time.strftime("%H:%M")+"~"+reservation.end_time.strftime("%H:%M"), reservation %>
    <% end %>
  </div>
  <% end %>
<% end %>


<%= form_with model:@reservation, url:log_reservations_path,method: :post,  local: true do |f| %>
<div>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
</div>

<div>
 <p><%= @reservation.admin.name %></p>
</div>

<div>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, {minute_step: 15} %>
</div>
<div>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, {minute_step: 15} %>
</div>
<div>
  <%= f.submit "予約確認へ", class: 'btn btn-primary' %>
</div>

<%= f.hidden_field :admin_id, :value => @reservation.admin_id %>

<% end %>

