<h2>予約入力</h2>
<%= form_with model:@reservation, url:log_reservations_path, local: true do |f| %>

<h3>カレンダー</h3>

<%= month_calendar events: @reservations do |date, reservations| %>

  <%= date.day %>

<% reservations.each do |reservation| %>
  <div>
    <%= link_to reservation.title, reservation %>
  </div>
  <% end %>
<% end %>

<div>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :admin_id, " 担当者" %>
  <%= f.select :admin_id, @hash, include_blank: "選択してください" %>
</div>

<div>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, {minute_step: 15} %>
</div>
<div>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, {minute_step: 15} %>
</div>
<div>
  <%= f.submit "予約確認へ", class: 'btn btn-primary' %>
</div>

<% end %>
