<h2>予約入力</h2>
<%= form_with model:@reservation, url:log_reservations_path, local: true do |f| %>

<h3>カレンダー</h3>

<%= month_calendar events: @reservations do |date, reservations| %>

  <%= date.day %>

<% reservations.each do |reservation| %>
  <div>
    <%= link_to reservation.title, reservation %>
  </div>
  <% end %>
<% end %>

<div>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :staff, " 担当者" %>
  <%= f.select :staff, [["田中","田中"],["鈴木","鈴木"],["佐藤","佐藤"]], include_blank: "選択してください" %>
</div>

<div>
  <%= f.submit "予約確認へ" %>
</div>

<% end %>

