<h2>予約詳細</h2>

<h3>日時</h3>
<%= @reservations.start_time.strftime('%Y/%m/%d') %>~<%= @reservations.end_time.strftime('%Y/%m/%d') %>

<h3>タイトル</h3>
<%= @reservations.title %>

<h3>担当者</h3>
<%= @reservations.staff %>

<h3>受付日</h3>
<%= @reservations.created_at.strftime('%H時%M分') %>


<%= link_to "お問い合わせ", reservation_contacts_path(params[:id]), class: 'btn btn-primary' %>
<% if @contacts.present? %>
    <% @contacts.each do |contact| %>
        <p><%= contact.question %></p>
        <% if contact.answer.present? %>
        <p><%= contact.answer %></p>
        <% end %>
    <% end %>
<% else %>
    <p>お問い合わせはありません</p>
<% end %>
<%= link_to "予約一覧へ", reservations_path, class: 'btn btn-primary' %>