<h2>予約詳細</h2>

<h3>日時</h3>
<%= @reservations.dated_on %>

<h3>タイトル</h3>
<%= @reservations.title %>

<h3>担当者</h3>
<%= @reservations.staff %>

<h3>受付日</h3>
<%= @reservations.created_at %>


<%= link_to "お問い合わせ", contacts_path %>