<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前の週へ'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title">Week <%= calendar.week_number %></span>
    <%else%>
        <span class="calendar-title">Week <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <%end%>
        <%= link_to t('simple_calendar.next', default: '次の週へ'), calendar.url_for_next_view %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <% date_range.each_slice(7) do |week| %>
        <% date_range.slice(0, 7).zip(week).each do |day,date| %>
          <th><%= date.strftime("%m/%d") %>(<%= t('date.abbr_day_names')[day.wday] %>)</th>
        <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @repeat = Range.new(0,9) %>
      <% @t1 = Time.zone.parse("2000-01-01 09:00:00") %>
      <% @t2 = Time.zone.parse("2000-01-01 10:00:00") %>
      <% date_range.each_slice(7) do |week| %>
      <% @repeat.each do |time|%>
        <tr>
          <td>
            <%= @t1.strftime("%H:%M") %>~<%= @t2.strftime("%H:%M") %>
          </td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>

              <% else %>

                <% passed_block.call day, sorted_events.fetch(day, []) %>

              <% end %>
            <% end %>
          <% end %>
           <% @t1 += 3600 %>
           <% @t2 += 3600 %>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
