<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mt-0 mb-0 p-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'SCHEDULER', root_path,class:'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <% if customer_signed_in? %>
        <li class="nav-item active">
          <%= link_to "ホーム", root_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "予約一覧", reservations_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%=  link_to "新規予約", reservations_select_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class:'nav-link' %>
        </li>
      <% elsif admin_signed_in? %>

        <li class="nav-item active">
          <%= link_to "ホーム", admins_root_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "予約一覧",admins_reservations_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "新規登録", new_customer_registration_path,class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_customer_session_path,class:'nav-link' %>
        </li>
      <% end %>
    </ul>
    </div>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
